<audio #audioElement src="../assets/Humdard.mp3" preload="metadata" (loadeddata)="checkLoaded($event)">
  <p>Your browser does not support HTML5 audio. Here is a <a href="../assets/Humdard.mp3">link</a> instead.</p>
</audio>

<div class="outside">

  <div class="audio-player">
    <div class="progress">
<!-- show progress bar here -->
<input type="range" id="track" name="track" #rangeElement (click)="seekTime($event)" (input)="seekTime2($event)" class="timeline-range" min="0" max="100" value="0">
  <!-- <label for="volume">Volume</label> -->
  <div class="controls">
    <!--  show play,pause,reset, volume control -->
    <button (click)="audio?.paused ? play() : pause()" class="icon-align-middle" [title]="audio?.paused ? 'Play' : 'Pause'">
        <i class="material-icons">{{audio?.paused ? 'play_circle_outline' : 'pause_circle_outline'}}</i> 
    </button>
    <!-- restart_alt, fast_forward -->
    <button (click)="reset()" class="icon-align-middle" title="Restart">
      <i class="material-icons">restart_alt</i>
  
  </button>
  
<button (click)="forwardOrBackward('back')" class="icon-align-middle flip" [disabled]="audio?.paused" title="Rewind">
  <i class="material-icons">fast_forward</i>

</button>
  <button (click)="forwardOrBackward('forward')" class="icon-align-middle" [disabled]="audio?.paused" title="Forward">
    <i class="material-icons">fast_forward</i>

</button>

<input type="range" id="track" name="track" min="0" max="100" value="100" (input)="volumeControl($event)" class="float-right volume" #volume />
<button (click)="muteOrUnmuteVolume($event)" class="icon-align-middle float-right" title="Volume">
 
  <i class="material-icons"> {{!audio?.muted ? 'volume_up' : 'volume_off'}}</i>
  
</button>

<button (click)="moreOrLessSpeed('more')" class="icon-align-middle float-right" [disabled]="audio?.paused" title="Faster">
  <i class="material-icons">double_arrow</i>

</button>

<button (click)="moreOrLessSpeed('less')" class="icon-align-middle float-right flip" [disabled]="audio?.paused" title="Slower">
  <i class="material-icons">double_arrow</i>

</button>



        </div>
    </div>



  </div>

  <div class="timeline">
<!-- show timings here -->
<div> <span #startTimeRef>{{startTime}}</span> / {{endTime}}</div>
<span class="speed">Speed : {{audio?.playbackRate}}x</span>
<div>{{audio?.paused ? 'Paused' : 'Playing'}}</div>
  </div>

</div>
